{% extends 'layout/base.html.twig' %}

{% block body %}
    <h3 class="section-title">{{ subtitle }}</h3>
    <div class="container container-1">
        <p class="paragraph paragraph-1">{{ description }}</p>
        <form method="POST" action="https://formspree.io/JasonMarshall@selenesoftware.us">
            <input type="email" name="email" placeholder="Your Email here">
            <input type="tel" name="phone" placeholder="Your Telephone Number">
            <textarea name="message" placeholder="Message"></textarea>
            <button type="submit" class="submit-button action-btn button">Send Message</button>
        </form>
    </div>
{% endblock %}

