<div class="container footer">
    <div class="rule">
        <hr>
    </div>
    <div class="container footer-nav">
        <a class="link-text footer-nav" href="/about">About Us</a>
        <a class="link-text footer-nav" href="https://cssgrid.cc">Made with CSS Grid Builder</a>
        <a class="link-text footer-nav" href="/contact">Contact Us</a>
    </div>
    <div class="container copyright">
        <span class="copyright-text">&copy; 2019 Selene Software</span>
    </div>
</div>
