<h1 class="site-title">{{ title }}</h1>
<div class="container nav-wrapper">
    <a class="link-text nav-button" href="/">Home</a>
    <a class="link-text nav-button" href="/about">About Us</a>
    {# This is a page I want created in the near future, when a couple more projects are launched.
    <a class="link-text nav-button" href="/projects">Our Projects</a>
    #}
    <a class="link-text nav-button" href="/contact">Contact us</a>
</div>
<div class="container hero-section">
    <div class="responsive-picture">
        <picture><img alt="Placeholder Picture" src="/assets/images/{{ headerImage }}">
        </picture>
    </div>
</div>
