<h1 class="site-title">{{ title }}</h1>
<div class="container nav-wrapper">
    <a class="link-text nav-button" href="/">Home</a>
    <a class="link-text nav-button" href="/about">About Us</a>
    <a class="link-text nav-button" href="/contact">Contact us</a>
</div>
<div class="container hero-section">
    <div class="responsive-picture">
        <picture><img alt="Placeholder Picture" src="/assets/images/visions.jpg">
        </picture>
    </div>
</div>
