<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}

<body>
{% include "tags.html" %}

{% include "brand-top.html" %}

    <!-- Navigation -->
{% include 'nav.html' %}
    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            {% set imgActive = "active" %}
                            {% set slide = 0 %}
                            {% for img in site.carousel %}
                            <li data-target="#carousel-example-generic" data-slide-to="{{ slide }}" class="{{ imgActive }}"></li>
                            {% set imgActive = "" %}
                            {% set slide = slide + 1 %}
                            {% endfor %}
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            {% set imgActive = "active" %}
                            {% for img in site.carousel %}
                            <div class="item {{ imgActive }}">
                                <img class="img-responsive img-full" src="/img/{{ img.url }}" alt="">
                            </div>
                            {% set imgActive = "" %}
                            {% endfor %}
                            {#<div class="item">
                                <img class="img-responsive img-full" src="/img/slide-2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="/img/slide-3.jpg" alt="">
                            </div>#}
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <h2 class="brand-before">
                        <small>Welcome to</small>
                    </h2>
                    <h1 class="brand-name">{{ site.company.name }}</h1>
                    <hr class="tagline-divider">
                    {#<h2>
                        <small>By
                            <strong>Start Bootstrap</strong>
                        </small>
                    </h2>#}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Modern Solutions for a 
                        <strong>Better Web</strong>
                    </h2>
                    <hr>
                    {#<img class="img-responsive img-border img-left" src="/img/intro-pic.jpg" alt="">
                    <hr class="visible-xs">#}
                    {{ page.content }}
                </div>
            </div>
        </div>

{#

So I have a little problem.  It seems that I cannot have my content split up like I would prefer.  I'm going to do some more research into this,
but until then, just one box will do for now.  For now, just work on the single box as if it was the holder of all the content.

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Beautiful boxes
                        <strong>to showcase your content</strong>
                    </h2>
                    <hr>
                    <p>Use as many boxes as you like, and put anything you want in them! They are great for just about anything, the sky's the limit!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                </div>
            </div>
        </div>#}

    </div>
    <!-- /.container -->
{% include "footer.html" %}

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
